Definition of ClientSecAssocData

The definition of the `ClientSecAssocData` struct in Section 3.1 seems odd.
I think it should read

```
         enum {
             fixed(0), hotp(1), (255)
         } SecAssocType;

         struct {
              SecAssocType type;
         } ClientSecAssocData;
```
instead. At least this is the way an enum is used e.g. in [RFC6066, Section 3](https://tools.ietf.org/html/rfc6066#section-3) ...


Oh, I now see that a client can, of course, offer support for multiple types ...
